/.vs/
/Backup/
Coordinates/obj/
Core/obj/
DataDear/obj/
Docs/obj/
GdalUtils/obj/
GdalUtilsOz/obj/
Geometries/obj/
GisForm/obj/
Output/obj/
PackageR/obj/
REngineAddon/obj/
Resources/obj/
testGeos/obj/
testOpenCV/obj/
UIExtent/obj/

Coordinates/bin/
Core/bin/
DataDear/bin/
Docs/bin/
GdalUtils/bin/
GdalUtilsOz/bin/
Geometries/bin/
GisForm/bin/
Output/bin/
PackageR/bin/
REngineAddon/bin/
Resources/bin/
testGeos/bin/
testOpenCV/bin/
UIExtent/bin/